.flexcontainer {
  display: flex;
  margin: 0;
}
.flexinline {
  display: inline-flex;
}
.flexrow {
  flex-direction: row;
}
.courselist > div {
  padding: 2em;
}
.flexcol {
  flex-direction: column;
}
.txt-left {
  text-align: left;
}
.round-borders {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
}
