.flexcontainer {
  display: flex;
  margin: 0;
}
.flexinline {
  display: inline-flex;
}
.flex {
  display: flex;
}
.flexrow {
  flex-direction: row;
}
.courselist > div {
  padding: 2em;
}
.flexcol {
  flex-direction: column;
}
.txt-left {
  text-align: left;
}
.round-borders {
  border-radius: 25px;
  border: 2px solid #73ad21;
  padding: 20px;
}
.teacherrow {
  min-width: 100%;
}
.teacherInfo {
  display: flex;
}
.teacher-label {
  margin: 0px 10px 0 10px;
  /* margin-right: 10px; */
  padding-right: 5px;
}
.InfoDetails {
  float: left;
}

.teacher-item {
  margin-bottom: 10px;
  margin-right: 20px;
}
.w50 {
  width: 50%;
}
.w30 {
  width: 30%;
}
.w-fill {
  justify-content: space-between;
}
.infoContainer {
  width: 95%;
  margin: 0 auto;
  border: 1px dashed black;
}
.infoContainer > div {
  /* border: solid 1px #000; */
}

.infoContainer svg {
  /* border: 4px dashed palevioletred; */
}
g.bar {
  stroke-width: 1px;
  stroke: rgb(0, 0, 0);
}
.course-list {
  padding-left: 1em;
}

.kontering-path,
.workload-path {
  stroke: "black";
  stroke-width: 1.5px;
  stroke-dasharray: 4, 2, 4;
}

/* https://leaverou.github.io/bubbly/ */
.speech-bubble-right {
  height: 35px;
  position: relative;
  font-size: 13px;
  color: wheat;
  background: #2a3b50;
  border-radius: 0.2em;
  margin-left: 13px;
}

.speech-bubble-left {
  width: 80px;
  height: 35px;
  position: relative;
  font-size: 13px;
  color: wheat;
  background: #2a3b50;
  border-radius: 0.2em;
}

.speech-bubble-right:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-right-color: #2a3b50;
  border-left: 0;
  margin-top: -19px;
  margin-left: -16px;
}

.speech-bubble-left:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-left-color: #2a3b50;
  border-right: 0;
  margin-top: -19px;
  margin-right: -16px;
}
