

.courseContainer {
    max-width: 95%;
    height: 65%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.courseDetailsContainer {
    height: 100%;
    width: 100%;
}

.courseSearch {
    margin: 20px 20px 10px 20px;
    align-self: flex-start;

    display: flex;
    flex-direction: column;
}

.courseFilter {
    margin: 20px 0 10px 40px;

    display: flex;
    flex-direction: column;
}

.courseInfo {
    margin: 20px 0 10px 40px;

    display: flex;
    flex-direction: column;
}

.searchLabel,
.filterLabel {
    font-size: 1rem;
    margin-bottom: 5px;
}

.searchBar {
    font-size: 1rem;
    padding: 8px;
}

.filterButton {
    margin-right: 10px;

    padding: 8px;
    background-color: #F0EDED;
    font-size: 1rem;
    border-radius: 5px;
}

.filterButton.pressed {
    
    color: white;
    background-color: #696969;
}

.courseControls {
    display: flex;
}

.redInfo,
.yellowInfo {
    margin-top: 5px;
    display: flex;
}

.redInfo {
    margin-bottom: 10px;
}

.redBox,
.yellowBox {
    padding: 10px;
    background-color: #F06E37;

    margin-right: 10px;
}

.yellowBox {
    background-color: #EDB761;
}