.courseDetailsContainer {
  height: 100%;
  width: 100%;
}

.courseFlex {
  /* margin: 40px 20px 40px 20px; */
  display: flex;
  border: 1px dashed black;
  border-radius: 5px;

  /* width: 95%; */
  min-height: 100%;
  max-height: 100%;
}

.detailsColInfo {
  display: flex;
  flex-direction: column;
  width: 20%;

  max-height: 100%;
}

.detailsCol {
  width: 80%;
}

.detailsCol.exit {
  width: 5%;
}

.exitDetailsButton {
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px 13px 10px 13px;

  border: 1px solid white;
  background-color: grey;
  color: white;

  border-radius: 5px;
}

.exitDetailsButton:hover {
  background-color: black;
  transition: 0.7s;
}

button {
  cursor: pointer;
}
