svg.BarChartOverview {
  border-radius: 25px;
  border: 1px solid black;
}
svg rect.Positive {
  fill: red;
}
svg rect.Negative {
  fill: cadetblue;
}
svg rect.Small {
  fill: #73ad21;
}
.BarChartOverview rect:hover {
  opacity: 0.5;
}

rect.Small:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 300ms;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

.hidden {
  display: none;
}

foreignObject.tooltip {
  color: #222;
  background: rgb(167, 167, 167);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: 0.2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  transition: 0.2;
}
.fade-in {
  transition: opacity 0;
}

@-webkit-keyframes wiggle {
  0% {
    transform: translate(0, 0.15em);
  }
  25% {
    transform: translate(0, -0.15em);
  }
  50% {
    transform: translate(0, 0.15em);
  }
  75% {
    transform: translate(0, -0.1em);
  }
  100% {
    transform: translate(0, 0.1em);
  }
}
@-ms-keyframes wiggle {
  0% {
    transform: translate(0, 0.15em);
  }
  25% {
    transform: translate(0, -0.15em);
  }
  50% {
    transform: translate(0, 0.15em);
  }
  75% {
    transform: translate(0, -0.1em);
  }
  100% {
    transform: translate(0, 0.1em);
  }
}

@keyframes wiggle {
  0% {
    transform: translate(0, 0.15em);
  }
  25% {
    transform: translate(0, -0.15em);
  }
  50% {
    transform: translate(0, 0.15em);
  }
  75% {
    transform: translate(0, -0.1em);
  }
  100% {
    transform: translate(0, 0.1em);
  }
}
