.courseColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    min-height: 100%;
}

.period {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100%;

    border-left: 1px solid grey;
    padding-left: 10px;
}

.periodTitle {
    margin-bottom: 10px;
}