.stackedTeachersRow {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.sChart {
  padding-left: 20px;
  width: 80%;
  overflow-x: auto;
}

.sLabels {
    margin-top: 30px;
    padding-left: 40px;
    width: 20%;
}

.stackedTeachers {
  float: left;
}

.colorLabel {
  display: flex;
  margin-bottom: 10px;
}

.labelText {
  font-size: 0.85em;
}

.labelFor {
  opacity: 1;
  padding: 7px;
  margin-right: 10px;
  background-color: #fcd26c;
  max-height: 10px;
}
.labelFrl {
  padding: 7px;
  margin-right: 10px;
  background-color: #fcd26c;
  max-height: 10px;
}
.labelOvn {
  padding: 7px;
  margin-right: 10px;
  background-color: #c9d897;
  max-height: 10px;
}
.labelLa {
  padding: 7px;
  margin-right: 10px;
  background-color: #365780;
  max-height: 10px;
}
.labelHa {
  padding: 7px;
  margin-right: 10px;
  background-color: #faad5f;
  max-height: 10px;
}
.labelEx {
  padding: 7px;
  margin-right: 10px;
  background-color: #7bbfcc;
  max-height: 10px;
}
.labelKu {
  padding: 7px;
  margin-right: 10px;
  background-color: #9dd0d1;
  max-height: 10px;
}
.labelAdm {
  padding: 7px;
  margin-right: 10px;
  background-color: #ec9747;
  max-height: 10px;
}

.sChart::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.sChart::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sChart::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sChart::-webkit-scrollbar-thumb:hover {
  background: #555;
}
