.courseSearch,
.courseFilter {
  margin: 25px 20px 10px 50px;
  align-self: flex-start;

  display: flex;
  flex-direction: column;
}

.courseInfo {
  margin: 40px 0 10px 140px;

  display: flex;
  flex-direction: column;
}

.searchLabel,
.filterLabel {
  font-size: 1rem;
  margin-bottom: 10px;

  align-self: flex-start;
}

.filterLabel {
  margin-bottom: 20px;
}

.searchBar {
  margin: 10px 10px 0 0;
  font-size: 1rem;
  padding: 8px;
  height: 40px;
  border-radius: 10px;
}

.filterButton {
  margin-right: 10px;

  padding: 8px;
  background-color: #f0eded;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #d5d5db;
}

.filterButton.pressed {
  color: white;
  background-color: #4d4c54;
  border: none;
  font-weight: bold;
}
.filterButton.pressed.bg-red {
  background-color: #f06e37;
}
.filterButton.pressed.bg-orange {
  background-color: #edb761;
}

.courseControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

.redInfo,
.yellowInfo {
  margin-top: 5px;
  display: flex;
}

.redInfo {
  margin-bottom: 10px;
}

.redBox,
.yellowBox {
  padding: 10px;
  background-color: #f06e37;
  max-height: 10px;

  margin-right: 10px;
}

.yellowBox {
  background-color: #edb761;
}

/*Style for slider (toggle on search)*/
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 60px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4d4c54;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4d4c54;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-26px);
  -ms-transform: translateY(-26px);
  transform: translateY(-26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.searchToggle {
  display: flex;
}

.toggler {
  padding-top: 3px;
}

.togglerTip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  margin-top: 70px;
}

.toggler:hover .togglerTip {
  visibility: visible;
}

.overViewToggle {
  margin: 50px 50px 10px 0;
}

.ovToggleButton {
  background-image: url(/flowImg.png);
  background-size: 20px;
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat; /* make the background image appear only once */
  background-position: 6px 12px;
  cursor: pointer; /* make the cursor like hovering over an <a> element */
  height: 50px; /* make this the size of your image */
  padding: 10px 5px 10px 35px; /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */

  box-shadow: 1px 1px 1px black;
  background-color: #d5d5db;

  border-radius: 15px;
}

.ovToggleButton:hover {
  background-color: #606060;
  color: white;
  transition: 0.7s;
  box-shadow: 1px 1px 1px white;
}
